:root {
  --primary-dark-transparent: #03025c6c;
  --primary-dark-10: #0b0e49;
  --primary-dark-50: #04051F;
  --primary-dark-90: #010210;
  --contrast-primary-dark: #FFD62A;
  --gray-30: #CCC;
  --gray-50: #808080;
  --blue: #0080DD;
  --red: #F02525;
  --white: #FFFFFF;
  --white-10: #f5f5f5;
  --white-20: #e6e6e6;
  --transparent-100: rgba(255, 255, 255, 0);
  --transparent-50: rgba(255, 255, 255, 0.5);
  --transparent-75: rgba(255, 255, 255, 0.75);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--white);
}