:root {
    --scale: 0.5;
}

.sheet {
    background-color: white;
    margin: 0;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

.sheet .content * {
    text-align: left;
    color: black;
    font-size: calc(12pt * var(--scale)); /* Tamanho da fonte */
     margin: 0;
    margin-top: calc(0.5cm * var(--scale));
    margin-bottom: calc(0.5cm * var(--scale));
}

.sheet .content {
    height: 100%;
    overflow: hidden;
}

.sheet .content h2 {
    font-size: calc(18pt * var(--scale)); /* Tamanho da fonte para h2 */
}

.sheet .content h3 {
    font-size: calc(16pt * var(--scale)); /* Tamanho da fonte para h3 */
}

.sheet .content h4 {
    font-size: calc(14pt * var(--scale)); /* Tamanho da fonte para h3 */
}