.document-generator {
    display: flex;
    flex-direction: row;
    
    background-color: var(--gray-30);
    color: var(--primary-dark-50);
    width: 100%;
}

.document-generator h2 {
    font-size: 12pt;
    margin: 0;
 }

.content-templates {
    flex: 1;
    padding: 20px; 
}

.content-templates .rout-path {
    margin-bottom: 15px;
}

.content-templates .rout-path * {
    font-size: 8pt;
}

.content-templates .rout-path .path-span {
    cursor: pointer;
}

.content-templates .rout-path select {
    border: none;
    background-color: transparent;
    width: 62px;
    text-align: left;
    margin-left: -3px;
    font-size: xx-small;
    cursor: pointer;
    
}

.content-form {
    flex: 1;
    padding: 20px;
}

.content-preview {
    flex: 1;
    padding: 20px;
}

.sheet {
    background-color: white;
    width: calc(21cm * 0.5); /* Largura equivalente a uma folha A4 */
    height: calc(29.7cm * 0.5); /* Altura equivalente a uma folha A4 */
    padding: calc(1.65cm * 0.5); /* Margem interna equivalente a uma folha A4 */
    margin: 0; /* Centralizar horizontalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

.sheet .content * {
    text-align: left;
    color: black;
    font-size: calc(12pt * 0.5); /* Tamanho da fonte */
    line-height: calc(0.5cm * 0.5); /* Espaçamento entre linhas */
}

.sheet .content {
    height: 100%;
    overflow: hidden;
}

.sheet .content h2 {
    font-size: calc(18pt * 0.5); /* Tamanho da fonte para h2 */
}

.sheet .content h3 {
    font-size: calc(16pt * 0.5); /* Tamanho da fonte para h3 */
}

.sheet .content h4 {
    font-size: calc(14pt * 0.5); /* Tamanho da fonte para h3 */
}

.drawer {
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex: 1;
}

.drawer form{
    padding: 5px;
}

.bottom-drawer {
    background-color: var(--primary-dark-50);
}

.bottom-drawer p {
    margin: 0;
}

.content-cards .CardTemplate {
    padding:7.5px;
    margin-top: 4px;
}

.key-input {
    width: 85%;
}

.key-input label{
    font-size: 14px;
    margin-bottom: 5px;
}

.key-input input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 3px;
}