.Card {
    position: relative;
    
    overflow: hidden;
    border: 2px solid var(--gray-30);
    border-radius: 5%;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3);

    cursor: pointer;

    &:hover {
        background-color: var(--white);
        color: var(--primary-dark-50);
        box-shadow: 0px 0px 5px var(--contrast-primary-dark);
    }
}

.card-image {
    background-color: var(--white);

    max-height: 50%;
    object-fit: contain;
    width: 100%;
}

.card-content {
    max-height: calc(50% - 1em - 20px);
    padding: .5em;
    overflow: hidden;
}

.card-content h1 {
    font-size: 100%;
    margin: 0;
    color: var(--primary-dark-50);
}

.card-content h2 {
    font-size: 80%;
    margin: 0;
    color: var(--primary-dark-10);
    font-weight: 500;
}

.bt-edit {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--transparent-75);
    color: var(--primary-dark-50);
    border: 2px solid var(--primary-dark-50);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;

    &:hover {
        background-color: var(--primary-dark-10);
        color: var(--white);
        box-shadow: 0px 0px 5px var(--contrast-primary-dark);
    }
}

.icon-pencil {
    font-size: 30px;
}

@media (min-width: 500px) {
    .bt-edit {
        width: 50px;
        height: 50px;
    }

    .icon-pencil {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .bt-edit {
        width: 40px;
        height: 40px;
    }

    .icon-pencil {
        font-size: 25px;
    }
}

@media (max-width: 300px) {
    .bt-edit {
        width: 30px;
        height: 30px;
    }

    .icon-pencil {
        font-size: 20px;
    }
}