.ChatDrawer {
    z-index: 150;
    position: fixed;
    bottom: 0;
    right: 0;
}

.ChatDrawer .content-header {
    cursor: pointer;
    min-width: 280px;
    width: 25em;
    height: 40px;
    margin-right: 1em;
    background-color: #D9D9D9;
    border: 3px solid #04051F;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChatDrawer .title {
    font-size: 16pt;
    width: 120px;
    font-weight: bold;
    margin: 0;
}

.ChatDrawer .icon-chat {
    height: 25px;
    width: 25px;
}

.content-chat {
    background-color: white;
    height: 500px;
    margin-right: 1em;
    border: 3px solid #04051F;
    border-bottom: none;
}