.CardTemplate {
    background-color: var(--primary-dark-50);
    border: 1px solid var(--primary-dark-90);
    border-radius: .5vw;
    padding: 0.2em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    box-sizing: border-box; 
    box-shadow: -.2vw .1vw .2vw rgba(0, 0, 0, 0.3);
    margin: .5vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CardTemplate:hover {
    transform: scale(1.05);
}

.CardTemplate h1 {
    color: var(--white);
    font-size: 15%;
    margin-bottom: 5%;
    margin-top: 0px;
    text-align: center;
}

.CardTemplate p {
    color: var(--white);
    font-size: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.template-doc {
    overflow: hidden; 
    height: 90%;
    margin-bottom: .5vw;
}

.template-doc * {
    color: aliceblue;
    margin: 0; /* Espaçamento entre parágrafos reduzido */
    font-size: 5%; /* Tamanho da fonte dos parágrafos */
    margin-top: 1%;
}

.template-doc h2 {
    font-size: 9%; /* Tamanho da fonte para h1 */
}

.template-doc h3 {
    font-size: 7%; /* Tamanho da fonte para h2 */
}

.template-doc h4 {
    font-size: 5%; /* Tamanho da fonte para h3 */
} 

.template-doc p strong {
    font-size: 100%; /* Tamanho da fonte dos parágrafos */
}

.template-doc p i {
    font-size: 100%; /* Tamanho da fonte dos parágrafos */
}