.content-user-page {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 250vh;
    background-color: var(--primary-dark-transparent);
}

.user-page {
    color: black;
    overflow: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 11 */

    position: fixed;
    z-index: 101;
    width: 90%;
    height: 80%;
    max-width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 5px solid var(--primary-dark-50);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-10);

    border-radius: 25px;
}

.user-page::-webkit-scrollbar {
    display: none;
    /* Safari e Chrome */
}

.user-page form {
    width: 90%;
}

.user-page h1 {
    margin-top: 50%;
    font-size: 22px;
    margin-bottom: 20px;
}

.user-page .form-group {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.user-page .form-group label {
    flex: 1;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: small;
    padding-right: 1em;
}

.user-page .form-group input {
    flex: 3;
    height: 5px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--gray-30);
    border-radius: 5px;
}

.user-page .form-group select {
    flex: 3;
    height: 30px;
    border: 1px solid var(--gray-30);
    border-radius: 5px;
}

.user-page .form-group input[type="checkbox"] {
    flex: 1;
    margin-right: 5px;
    height: 15px;
}


.user-page .address-title {
    cursor: pointer;
    padding-bottom: .5em;
}

.user-page .arrow-down {
    width: 15px;
    height: 12px;
}

.user-page .form-group.address {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

    width: 90%;
}

.user-page .address-subfields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 105%;

    margin-bottom: 1em;
}

.user-page .subfield {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.user-page .subfield label {
    flex: 1;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: small;
    padding-right: 1em;
}

.user-page .subfield input {
    flex: 3;
    margin-right: 5px;
    height: 5px;
}

.user-page .msg-error {
    color: var(--red);
    max-width: 90%;
}

.user-page .forgot-password {
    color: var(--red);
    max-width: 90%;
    font-size: x-small;
    cursor: pointer;
    margin-bottom: 5%;
}

.user-page .bts-options {
    padding-bottom: 30%;
}

.user-page .bts-options {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.user-page .bts-options button {
    flex: 1;
    padding: 10px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.user-page .bts-options button:last-child {
    margin-right: 0;
}

.user-page .bts-options button:hover {
    background-color: var(--blue);
}