.search-container {
  display: flex;
  justify-content: center;
}

.Search input {
    height: 1.8rem;
    width: 100%;
  
    box-sizing: border-box;
    border: 1px solid var(--gray-30);
    border-radius: 4px;
  
    font-size: 12px;
    background-color: var(--white);
    background-image: url("/public/images/icons8-search.png");
    background-position: 10px 5px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
  
    padding: 12px 20px 12px 2rem;
    color: var(--primary-dark-50);

    &:focus {
      border-color: var(--contrast-primary-dark);
    box-shadow: 0 0 5px var(--contrast-primary-dark);
    outline: none;
    color: var(--primary-dark-50);
    }
  }