/* Container principal para gerar docks */
.GenerateDocks {
    background-color: #D2D2D2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Botão de cancelamento */
.GenerateDocks .bt-cancel {
    position: absolute;
    top: 4em;
    right: 1.5em;
    border: none;
    height: 1.8em;
    width: 6em;

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
}

.GenerateDocks .bt-cancel p {
    margin: 0;
    font-size: 8pt;
}

/* Barra de progresso */
.GenerateDocks .progress {
    display: flex;
    align-items: center;
    margin-top: 3em;
    width: 90%;
    max-width: 550px;
}

/* Estágio na barra de progresso */
.GenerateDocks .stage {
    font-size: 8pt;
    width: 15px;
    height: 15px;
    background-color: #04051F;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.GenerateDocks .stage-pass {
    font-size: 8pt;
    width: 15px;
    height: 15px;
    background-color: #10E057;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.GenerateDocks .stage-current {
    font-size: 8pt;
    font-weight: bold;
    width: 15px;
    height: 15px;
    background-color: #10E057;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 2px solid #EBFF00;
    scale: 1.1;
}

/* Linha que conecta os estágios */
.GenerateDocks .line {
    flex: 1;
    border-top: 2px solid #000;
}

/* Botões de navegação */
.GenerateDocks .buttons-navigation {
    position: relative;
    display: flex;
    gap: 5em;
    margin-bottom: 5em;
}
.GenerateDocks .buttons-navigation p {
    margin: 0;
    font-size: 8pt;
}

/* Botão de avanço */
.GenerateDocks .bt-next,
/* Botão de retorno */
.GenerateDocks .bt-back {
    color: white;
    border-radius: 10px;
    width: 140px;
    height: 20px;
    border: none;
    font-size: 8pt;
    margin-top: 1em;

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
}

.GenerateDocks .bt-next {
    background-color: #04051F;
}

.GenerateDocks .bt-back {
    background-color: #F02525;
}

.GenerateDocks .bts-generate {
    position: absolute;
    top: -15px;
    right: 0;
}
