/* Container principal para gerar docks */
.GenerateDocks {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Botão de cancelamento */
.bt-cancel {
    position: absolute;
    top: 4.5em;
    right: 1.5em;
    border: none;
    width: 35px;
    height: 23px;

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
}
.bt-cancel p {
    margin: 0;
    font-size: 8pt;
}

/* Barra de progresso */
.progress {
    display: flex;
    align-items: center;
    margin-top: 3em;
    width: 50%;
    max-width: 500px;
}

/* Estágio na barra de progresso */
.stage {
    font-size: 8pt;
    width: 15px;
    height: 15px;
    background-color: #04051F;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.stage-pass {
    font-size: 8pt;
    width: 15px;
    height: 15px;
    background-color: #10E057;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.stage-current {
    font-size: 8pt;
    font-weight: bold;
    width: 15px;
    height: 15px;
    background-color: #10E057;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 2px solid #EBFF00;
    scale: 1.1;
}

/* Linha que conecta os estágios */
.line {
    flex: 1;
    border-top: 2px solid #000;
}

/* Botões de navegação */
.buttons-navigation {
    display: flex;
    gap: 5em;
    margin-bottom: 5em;
}
.buttons-navigation p {
    margin: 0;
    font-size: 8pt;
}

/* Botão de avanço */
.bt-next,
/* Botão de retorno */
.bt-back {
    color: white;
    border-radius: 10px;
    width: 140px;
    height: 20px;
    border: none;
    font-size: 8pt;
    margin-top: 1em;

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
}

.bt-next {
    background-color: #04051F;
}

.bt-back {
    background-color: #F02525;
}
