.CardEditSection {
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.CardEditSection h1 {
    height: 20px;
    margin: 5px 0 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.CardEdit {
    position: relative;

    width: 200px;
    height: 80%;

    overflow: hidden;
    border: 2px solid var(--gray-30);
    border-radius: 5%;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3);

    cursor: pointer;

    &:hover {
        background-color: var(--white);
        color: var(--primary-dark-50);
        box-shadow: 0px 0px 5px var(--contrast-primary-dark);
    }
}

.card-edit-image {
    background-color: var(--white);

    height: 35%;
    object-fit: contain;
    width: 100%;
}

.card-edit-content {
    max-height: calc(60% - 1em - 20px);
    margin: 2.5%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-edit-content input,
.card-edit-content textarea {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
}

.card-edit-content textarea {
    min-height: 50px;
}

.bts-actions {
    display: flex;
    justify-content: space-around;

    margin: 0 5px;
}

.bt-add,
.bt-cancel {
    background-color: var(--primary-dark-50);
    color: var(--white, #FFF);
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    width: 50%;
    max-width: 200px;
    margin: 0 5px;

    white-space: nowrap;

    &:hover {
        background-color: var(--white);
        color: var(--primary-dark-50);
        box-shadow: 0px 0px 5px var(--contrast-primary-dark);
    }
}

.bt-close {
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--transparent-75);
    color: var(--primary-dark-50);
    border: 2px solid var(--primary-dark-50);
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-weight: 700;
    width: 25px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    

    &:hover {
        background-color: var(--primary-dark-10);
        color: var(--white);
        box-shadow: 0px 0px 5px var(--contrast-primary-dark);
    }
}

.CardEditSection .msg-error {
    font-size: x-small;
    font-weight: 700;
    color: var(--red);
    max-width: 100%;
  }