.Header {
  position: relative;
  z-index: 100;
  width: 95%;
  background-color: var(--primary-dark-50);
  border-bottom: 5px solid var(--primary-dark-10);
  color: var(--white);
  padding-left: 2.5%;
  padding-right: 2.5%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Add this line to evenly distribute left and right containers */
}

.left-container,
.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-container>div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.logo {
  padding: 3px;
  background-color: #fff;
  border-radius: 50%;
  width: 25px;
  /* Adjusted for medium to large screens */
}

.title {
  font-size: larger;
  font-weight: 400;
  white-space: nowrap;
}

.bt-login {
  font-size: x-small;
  white-space: nowrap;
  border: 4px solid var(--blue);
  border-radius: 6px;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.user-name {
  font-size: small;
  white-space: nowrap;
}

.drop-down {
  position: absolute;
  top: calc(100% + 5px);
  /* Adjusted to ensure the dropdown is below the header */
  right: 0;
  padding: 1%;
  background-color: var(--primary-dark-50);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drop-down p {
  width: 100%;
  font-size: 10pt;
  margin: 0;
  padding: 2px;
  cursor: pointer;
}

.drop-down p:hover {
  color: var(--gray-50);
  background-color: var(--primary-dark-10);
}

@media (max-width: 700px) {
  .logo {
    width: 20px;
  }

  .title {
    font-size: small;
  }

  .bt-login {
    font-size: xx-small;
  }

  .user-name {
    font-size: x-small;
  }

  .drop-down p {
    font-size: 7pt;
  }
}