.user-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #ffffff;
    border: 1px solid var(--primary-color-dark);
    color: #6176a2;
    border-radius: 0 0 5px 5px;

    right: 0;
    z-index: 1;
  }
  
  .user-info p {
    padding: .4em;
    margin: 0;
    text-align: center;
    cursor: pointer;
  }
  
  .portrait .user-info p {
    font-size: small;
  }
  
  .landscape .user-info p {
    font-size: medium;
  }
  
  .user-info p:hover {
    background-color: #f0f0f0;
    color: var(--primary-color-dark);
    border-radius: 5px;
  }