.form-template .rout-item {
    display: flex;
    align-items: baseline;
}

.form-template .rout-item {
    margin-bottom: 10px;
}

.form-template .rout-item input {
    padding: 2px;
    font-size: 10pt;
    margin: 0;
    margin-right: 10px;

    width: 100%;
}

.form-template .rout-item:last-child {
    margin-bottom: 0;
}