.header {
    background-color: var(--primary-color-dark);
    color: white;
    position: fixed;
    z-index: 100;
  
    top: 0;
    left: 0;
    height: 4em;
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header.landscape {
    position: relative;
  }
  
  .header.mini {
    height: 3em;
  }
  
  .header-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .portrait .header-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.5em;
    padding-left: 1em;
  }
  
  .landscape .header-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.5em;
    padding-left: 3em;
  }
  
  .portrait .logo {
    height: 2em;
    margin-right: .6em;
  }
  
  .landscape .logo {
    height: 2.5em;
    margin-right: 1em;
  }
  
  .mini .logo {
    height: 1.2em;
    margin-right: .4em;
  }
  
  .portrait .title {
    font-size: large;
    white-space: nowrap;
  }
  
  .landscape .title {
    font-size: x-large;
    white-space: nowrap;
  }
  
  .mini .title {
    font-size: small;
    white-space: nowrap;
  }
  
  .header-content-right {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 10em;
  }
  
  .portrait .header-content-right {
    padding-right: .6em;
  }
  
  .landscape .header-content-right {
    padding-right: 1em;
  }
  
  .header-faleconosco {
    position: relative;
    white-space: nowrap;
  }
  
  .portrait .header-faleconosco {
    font-size: x-small;
  }
  
  .landscape .header-faleconosco {
    font-size: smaller;
  }
  
  .mini .header-faleconosco {
    font-size: xx-small;
  }
  
  .header-search {
    padding-right: 1.5em;
  }
  
  .header-login {
    position: relative;
    padding-right: 1.5rem;
    white-space: nowrap;
  }
  
  .portrait .header-login {
    padding-right: 1rem;
  }
  
  .landscape .header-login {
    padding-right: 1.5rem;
  }
  
  .mini .header-login {
    padding-right: 1rem;
  }
  
  .login-button {
    position: relative;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .portrait .login-button {
    padding: 5px 10px;
    border-radius: 2px;
    font-size: x-small;
  }
  
  .landscape .login-button {
    padding: 7.5px 15px;
    border-radius: 5px;
    font-size: small;
  }
  
  .mini .login-button {
    width: 6em;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: .5em;
  }
  
  .login-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid var(--primary-color-dark);
    color: #6176a2;
    border-radius: 5px;
    right: 0;
    z-index: 1;
    margin-right: 20%;
  }
  
  .login-options p {
    padding: .4em;
    margin: 0;
    text-align: center;
    cursor: pointer;
  }
  
  .portrait .login-options p {
    font-size: small;
    width: 5em;
  }
  
  .landscape .login-options p {
    font-size: medium;
    width: 5em;
  }
  
  .login-options p:hover {
    background-color: #f0f0f0;
    color: var(--primary-color-dark);
    border-radius: 5px;
  }